{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Finwizz{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


    
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% include 'navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}

<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>