<footer class="light" id="footer">
    <div class="container">
        <div class="footer-top clearfix">
            <div class="height-50"></div>

            <div class="footer-left">
                <div class="row">
                    <div class="col-md-6 advisor-footer-left">
                        <div class="footer_wraper">
                            <div class="cutom-footer-logo">
                                <img src="{{ MEDIA_IMG_URL }}images/logo-finwizz.png" alt="Finwizz Logo" />
                            </div>
                            <p class="footer_address"></p>
                            <h6>Finwizz Financial Services Pvt. Ltd</h6>
                            Office No. 101 TO 104, First Floor, Vikram Goldmine, OFF. F C Road, Pune 411004
                            <p></p>
                            <a class="footer_call" href="tel:18002588333">
                                <h4>Toll Free: 18002588333</h4>
                            </a>
                            <div class="social-links">
                                <a href="https://www.facebook.com/FinwizzLoansFISPL" rel="noopener" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/finwizzloans/" rel="noopener" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/finwizz/" rel="noopener" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <!-- <a href="https://twitter.com/FinwizzLoans" rel="noopener" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="footer_links">
                            <h4 class="footer_box_1_title">Useful Links</h4>
                            <ul class="menu" id="menu-footer-menu">
                                <li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="menu-item"><a href="{% url 'about_us' %}">About Us</a></li>
                                <li class="menu-item"><a href="{% url 'emi_calculator' %}">EMI Calculator</a></li>

                                <li class="menu-item"><a href="{% url 'personal_loan' %}">Personal loan</a></li>
                                <li class="menu-item"><a href="{% url 'business_loan' %}">Business loan</a></li>
                                <li class="menu-item"><a href="{% url 'home_loan' %}">Home loan</a></li>
                                <li class="menu-item"><a href="{% url 'commercial_loan' %}">Commercial property loan</a></li>
                                <li class="menu-item"><a href="{% url 'lap_loan' %}">Loan against property (LAP)</a></li>
                                <li class="menu-item"><a href="{% url 'doctors_loan' %}">Loan for doctors</a></li>
                                <li class="menu-item"><a href="{% url 'used_car_loan' %}">Used car loan</a></li>
                                <li class="menu-item"><a href="{% url 'credit_card' %}">Credit card</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-right">
                <style type="text/css">
                    #eapps-instagram-feed-1>a::after {
                        content: "";
                        position: absolute;
                        background: #fff;
                        width: 110%;
                        top: 0;
                        height: 100%;
                        left: 0;
                    }

                    .instaFeedBox {
                        margin-top: 50px;
                    }
                </style>
                <div class="instaFeedBox">
                    <script data-use-service-core="" defer="" src="https://finwizzloans.com/js/platform.js"></script>
                    <div class="elfsight-app-317d4b08-7374-43ea-9c2b-d99deb3c14eb"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p>Copyright © 2025 Finwizz. All rights reserved.</p>
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
        </div>
    </div>
</footer>